body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  background: linear-gradient(135deg, pink, orange);
  color: white;
  padding: 15px;
  margin: 0 0 30px 0;
}

.galleryvideo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  padding: 20px;
}

.galleryvideo a {
  display: block;
}

.galleryvideo iframe {
  object-fit: cover;
  border:1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.3s, border-color 0.3s;
}

.galleryvideo iframe:hover {
  transform: scale(1.05);
  border-color: #444;
}

button {
  border-radius: 15px;
  padding: 10px 20px;
  background: linear-gradient(135deg, pink, orange);
  color: beige;
  border: none;
  transition: 0.3s;
}
button:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}