
h1 {
  color: beige;
  background: linear-gradient(135deg, pink, orange);
  text-align: center; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


li a {
    color: hotpink;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div section article {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div section article img {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 230px;
    width: 180px;
}

button {
  border-radius: 15px;
  padding: 10px 20px;
  background: linear-gradient(135deg, pink, orange);
  color: beige;
  border: none;
  transition: 0.3s;
}
button:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

div aside {
    background-color: pink;
    text-align: top center;
    height: 250px;
    width: 200px;
    border-radius: 8px;
    color: hotpink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: circle;
    position: absolute;
    right: 10px;
    top: 75px;
}

div aside .photo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: sticky;
    left: 50%;
}
div aside ul {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: hotpink;
    line-height: 50px;
}


#social {
  border-radius: 15px;
  padding: 10px 20px;
  background: linear-gradient(135deg, blue, red);
  color: beige;
  border: none;
  transition: 0.3s;
}
#social:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer {
  background: linea
  r-gradient(135deg, pink, orange);
  color: beige;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}