h1 {
  color: beige;
  background: linear-gradient(135deg, pink, orange);
  text-align: center; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div section article p{
    opacity: 0; 
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div section article img {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 153px;
    width: 120px;
    display: flex;
    left :100px;
    top :230px;
}

div aside {
    background-color: pink;
    text-align: top center;
    height: 200px;
    width: 160px;
    border-radius: 8px;
    color: hotpink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: circle;
    position: absolute;
    right: 10px;
    top: 160px;
}

div aside ul {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: hotpink;
    line-height: 50px;
}


#social {
  border-radius: 15px;
  padding: 10px 20px;
  background: linear-gradient(135deg, blue, red);
  color: beige;
  border: none;
  transition: 0.3s;
}
#social:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer {
  background: linear-gradient(135deg, pink, orange);
  color: beige;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  border-radius: 15px;
  padding: 10px 20px;
  background: linear-gradient(135deg, pink, orange);
  color: beige;
  border: none;
  transition: 0.3s;
}
button:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

