h1 {
    color: whitesmoke;
    background: linear-gradient(135deg, pink, orange);
    text-align: center; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    caption-side: bottom;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position : absolute;
    margin-top: 80px;
}

nav {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  top : 65px;
  display: flex;
  gap: 20px;
}

button {
  border-radius: 15px;
  padding: 10px 20px;
  background: linear-gradient(135deg, pink, orange);
  color: beige;
  border: none;
  transition: 0.3s;
}
button:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

footer {
  position :absolute;
  bottom : 20px;
}